@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
}

a:focus {
    outline: 2px dotted purple;
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type: none;
}

.skip-links a{
    position:absolute;
    top:-3em;
}

.skip-links a:focus {
    top:0;
    color:white;
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    border: 1px dotted purple;
    margin: .5rem;
}

.logo{
    width:75px;
    height:75px;
    background-image: url(../img/logo.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin: 1em auto 1em;
    text-indent: -9999px;
}

a {
color: #8b8b8b;
cursor: pointer;
outline: none;
text-decoration: underline; 
}

.billboard{
    background-image: url(../img/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    max-width: 100%;
    height:20em;
    position: absolute;
    transform-origin: center;
    overflow: hidden;
}

.billboard h1{
    text-align: center;
    position: relative;
    top: 1em;
    font-family: Helvetica;
    text-transform: uppercase;
    color: white;
    font-size:5rem;
    overflow: hidden;
    font-weight: bold;
    letter-spacing: -.125em;
    
}

#header{
    height: 8em;
}

#header ul{
    display: block;
    list-style-type: none;
    text-align: center;
    
}

#header ul li{
    display:inline-block;
    margin: 0 0 0 24px;
    position: relative;
    
    letter-spacing: .125em;
}

#header ul li:first-child {
    margin:0;
}

#header ul li.middle{
    display: none;  
}

#header ul li a{
    color: grey;
    text-decoration: none;
}


.problem{
    border-top: 1px solid #CDCDCD;
	border-bottom: 2px solid #CDCDCD;
	position: relative;
    z-index: 1;
    padding: 0 0 2em;

}

.confetti{
     background-image: url(../img/confetti.svg);
    background-size: 8em;
    width:100%
     animation: zoom 10s ease-out alternate;
    -webkit-animation: zoom 10s alternate infinite;
    position: absolute;
	top:0;
    left:0;
    right:0;
    bottom:0;   
     box-shadow: inset 0 0 0 1000px rgba(255,255,255,.8)
}

#banner {
    position:relative;
    overflow: hidden;
    
}


@-webkit-keyframes zoom{
    0% {
        -webkit-transform: scale(1,1)
    }
    
    100% {
       -webkit-transform: scale(1.125,1.125)   
    }
}

@keyframes zoom{
    0% {
        -webkit-transform: scale(1,1)
    }
    
    100% {
        -webkit-transform: scale(1.125,1.125)   
    }
}



@-webkit-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}
@-moz-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}
@-ms-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}
@-o-keyframes colorshift {
	0%   { color: #ff4701; }
	25%  { color: #a568e9; }
	50%  { color: #47edfb; }
	75%  { color: #1cd89e; }
	100%  { color: #ff4701; }
}

@-webkit-keyframes bgcolorshift {
	0%   { background-color: #ff4701; }
	25%  { background-color: #a568e9; }
	50%  { background-color: #47edfb; }
	75%  { background-color: #1cd89e; }
	100%  { background-color: #ff4701; }
}
@-moz-keyframes bgcolorshift {
	0%   { background-color: #ff4701; }
	25%  { background-color: #a568e9; }
	50%  { background-color: #47edfb; }
	75%  { background-color: #1cd89e; }
	100%  { background-color: #ff4701; }
}
@-ms-keyframes bgcolorshift {
	0%   { background-color: #ff4701; }
	25%  { background-color: #a568e9; }
	50%  { background-color: #47edfb; }
	75%  { background-color: #1cd89e; }
	100%  { background-color: #ff4701; }
}
@-o-keyframes bgcolorshift {
	0%   { background-color: #ff4701; }
	25%  { background-color: #a568e9; }
	50%  { background-color: #47edfb; }
	75%  { background-color: #1cd89e; }
	100%  { background-color: #ff4701; }
}

.problem-type{
	font-size: 4.25em;
	line-height: .75em;
	font-family: Helvetica;
	font-weight: bold;
	font-style: normal;
    letter-spacing: -.5rem;
	text-transform: uppercase;
	color: #50ecf8;
	-webkit-animation: colorshift 15s infinite;
	-moz-animation:    colorshift 15s infinite;
 	-ms-animation:     colorshift 15s infinite;
 	-o-animation:      colorshift 15s infinite;
	margin: .5em .25em .125em;
}

figure .icon{
    margin: 0 auto 0;
    width:30%;
    align-content: center;
    text-align: center;
    display: inline-block;
}


.icon{
    display: inline-block;
}

.icon img{
    height:100px;
}

#page-down-arrow{
    position: absolute;
    bottom:-25px;
    left:50%;
    margin-left: -25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    height:50px;
    width: 50px;
    background-color: white;
    background-size: 200px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,.5);
    z-index: 2;
    cursor: pointer;
}

#down-arrow-icon{
    height: 25px;
    width: 50px;
    background: url(../img/arrow.svg) no-repeat 13px 2px;
    transition: all 1s linear;
    -webkit-transform: scale(1,1);
    
}

#page-down-arrow:hover{
    
}

#down-arrow-icon:hover {
       -webkit-transform: scale(1.25,1.25);
    
}




.gear {
    -webkit-transform: rotate(0deg);
    transition: all 3s linear;
}


.gear:hover{
    -webkit-transform: rotate(360deg);
}

@-webkit-keyframes spin{
   0%{
       -webkit-transform: rotate(0deg);   
   }
    
    100% {
         -webkit-transform: rotate(360deg);   
   }     
    
}

.paper:hover{
    animation: rock 3s;
     -webkit-animation: rock 3s;
	-moz-animation: rock 3s;
 	-ms-animation: rock 3s  ;
 	-o-animation:  rock 3s;
    
}


@keyframes rock{
   0%{
       -webkit-transform: rotate(0deg);   
   }
    
    50% {
         -webkit-transform: rotate(180deg);   
   }  
    
    75%{
        -webkit-transform: rotate(0deg);  
    }
        
    100% {
         -webkit-transform: rotate(360deg);   
   }  
    
    
}
    
@-webkit-keyframes rock{
   0%{
       -webkit-transform: rotate(0deg);   
   }
    
    50% {
         -webkit-transform: rotate(180deg);   
   }  
    
    75%{
        -webkit-transform: rotate(0deg);  
    }
        
    100% {
         -webkit-transform: rotate(360deg);   
   }  
    
    
}


.pencil:hover{
    animation: shake 1s linear;  
    -webkit-animation: shake 1s linear ;  
	-moz-animation: shake 1s linear;  
 	-ms-animation: shake 1s linear ;  
 	-o-animation:  shake 1s linear infinite;  
    
}


@keyframes shake{
     0%{
       -webkit-transform: translateX(0px);   
   }
    
    25%{
       -webkit-transform: translateX(10px);   
   }
    
    50% {
         -webkit-transform: translateX(0px);    
   }  
    
     75%{
        -webkit-transform: translateX(5px);   
   }
    
      100%{
        -webkit-transform: translateX(0px);   
   }
    
    
}



@-webkit-keyframes shake{
   0%{
       -webkit-transform: translateX(0px);   
   }
    
    25%{
       -webkit-transform: translateX(10px);   
   }
    
    50% {
         -webkit-transform: translateX(0px);    
   }  
    
     75%{
        -webkit-transform: translateX(5px);   
   }
    
      100%{
        -webkit-transform: translateX(0px);   
   }
    

    
}


@media only screen and (min-width:30em){
    .container {
        margin: 0 3em 0;
    }
    
    .problem-type {
        font-size: 5rem;
    }
}

@media only screen and (min-width:40em){
    .container {
        margin: 0 5em 0;
    }
      .problem-type {
        font-size: 6rem;
    }
     .icon img{
        height: 125px; 
    }
}

@media only screen and (min-width:50em){
    .container {
        margin: 0 7em 0;
    }
      .problem-type {
        font-size: 7rem;
    }
    
    .icon img{
        height: 150px; 
    }
}

@media only screen and (min-width:60em){
    .container {
        margin: 0 9em 0;
    }
      .problem-type {
        font-size: 8rem;
    }
    
     .icon img{
        height: 175px; 
    }
}

@media only screen and (min-width:70em){
    .container {
        margin: 0 11em 0;
    }
}